.body {
  width: 100vw;
  height: 100vh;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1440px;
  height: 900px;
  background-color: #F6F8FF;
  
}